@import '../../core/styles/customVariables';

.add-clients {
  color: white;
  h2 {

    margin-top: 20px;
    margin-bottom: 40px;

  }
  &-form {
    .form-group {
      display: inline-block;
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;

      input {
       height: 45px;
       line-height: 45px;
      }
    }

    button {
      display: block;
      width: 40%;

      margin: 40px auto 60px auto;
    }

    @include bp-max-xs {
      .form-group {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  &-success {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
}