@import '../../core/styles/customVariables';
@import '../../core/styles/flexbox';

.add-offer {
  color: white;

  .select-list2 {
    margin-bottom: 20px;
    width: 400px;

    .Select-control {
      background-color: $black ;
      border: 1px solid $yellow;
      color: #333;
      cursor: default;
      display: table;
      border-spacing: 0;
      border-collapse: separate;
      height: 36px;
      outline: none;
      overflow: hidden;
      position: relative;
      width: 100%;

      .Select-value, .Select-placeholder {
        bottom: 0;
        color: $white;
        left: 0;
        line-height: 34px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .Select-input {
      height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
    }

    .Select-input>input {
      width: 100%;
      background: none transparent;
      border: 0 none;
      box-shadow: none;
      cursor: default;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      outline: none;
      line-height: 17px;
      padding: 8px 0 12px;
      -webkit-appearance: none;
    }

    .Select-placeholder {
      bottom: 0;
      color: #aaa;
      left: 0;
      line-height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      right: 0;
      top: 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .Select-arrow-zone {
      cursor: pointer;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 25px;
      padding-right: 5px;

      .Select-arrow {
        border-color: #999 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 2.5px;
        display: inline-block;
        height: 0;
        width: 0;
        position: relative;
      }
    }

    .Select-control > :last-child {
      padding-right: 5px;
    }

    &.is-open {
      .Select-arrow {
        top: -2px;
        border-color: transparent transparent #999;
        border-width: 0 5px 5px;
      }

      .Select-menu-outer {
        font-family: $font-title;
        color: $white;
        background-color: transparent;
        border: 1px solid $yellow;
        cursor: pointer;

        .Select-menu .Select-option {
          min-height: 21px;
          line-height: 21px;
          padding: 6px 10px;
          font-size: 14px;

          &:hover {
            background-color: #333;
          }

        }
      }
    }
  }


  &-client {
    & > div {
      @include flexbox;
    }

    .client-not-found {
      margin-left: 40px;
      line-height: 36px;
      cursor: pointer;
    }
  }

  &-product {
    & > div {
      @include flexbox;
    }

    button {
      margin-left: 40px;
      height: 40px;
      margin-top: 20px;
    }
  }

  .product-rows {
    table {
      thead {
        border-bottom: none;
      }
      td:last-child {
        border: none;
        cursor: pointer;
      }
    }
  }
}
