@import '../../core/styles/customVariables';

.product-rows {
  table {
    width: 100%;
    margin-bottom: 100px;

    th {
      text-align: center;
      padding: 10px;
    }

    td {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid $yellow;
    }
  }
}

.offers-list {
  &-row {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #3a3a3a;
    }
  }
}

.offer-details {
  color: white;
  .back-to-list {
    display: block;
    margin-top: 10px;
    color: white;
  }

  h2 {
    display: block;
    margin-top: 40px;
  }

  h3 {
    color: $yellow;
  }

  &-info {
    display: flex;

    &-client {
      margin-left: 100px;
      button {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &-client, &-offer {
      p {
        color: lightgrey;

        span {
          color: white !important;
          display: block;
          font-size: 16px;
          line-height: 30px;
          font-weight: 600;
        }
      }

    }
  }

  &-products {
    hr {
      border-top: 1px solid $yellow;
    }

    padding-top: 20px;
  }
}