@import '../../core/styles/customVariables';
@import '../../core/styles/flexbox';

.header {
  background-color: $black !important;
  border-color: $yellow !important;
  color: $yellow;
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 !important;
 // left: 50%;
 // transform: translate(-50%, 0);
  z-index: 2;

  &-topbar {
    font-size: 13px;
    line-height: 40px;
    border-bottom: 1px solid $yellow;

    span {
      &:nth-of-type(1) {
        padding-left: 20px;
      }
      &:nth-of-type(2) {
        float: right;
        padding-right: 20px;

        &:hover {
          color: white;
        }
      }
    }

    .logout-button {
      cursor: pointer;
    }
  }

  &-logo {
    border-bottom: 1px solid $yellow;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    @include bp-max-sm {
      display: none;
    }
  }

  &-navigation {
    @include flexbox;
    background-color: $yellow;
    color: $black;

    .open > a {
      background-color: $yellow;
    }

    & > li {
      width: calc(100% / 4);
    }

    & > li > a {
      color: $black;
      text-transform: uppercase;

      &:hover {
        color: white;
        background-color: $yellow !important;
      }

      &:focus {
        color: white;
        background-color: $yellow !important;
      }
    }

    li > .dropdown-menu {
      margin: 0;
      border: 0;
      border-radius: 0;
      padding: 10px 0;

      li {
        padding: 5px 0 5px 0;
      }
    }
  }
}