@import "../../core/styles/flexbox";

.login-view {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  text-align: center;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;

  &-inputs {
    background-color: black;
    padding: 80px 40px;
    border: 1px solid gray;

    input {
      display: block;

      &:last-of-type {
        margin-top: 20px;
      }
    }

    button {
      margin-top: 30px;
    }
  }
}