@import '../../core/styles/customVariables';

.product-details {
  display: flex;
  text-align: left;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  div:nth-of-type(2) {
    padding-left: 60px;
  }
}