@import '../../core/styles/customVariables';

.add-product {
  color: white;
  &-form {
    margin-top: 20px;
    .form-group {
      margin-top: 20px;
      display: inline-block;
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;

      input {
        height: 45px;
        line-height: 45px;
      }

      &:nth-of-type(4) {
          width: 20px;
          position: relative;
          margin: 20px auto;
          label {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background: #fcfff4;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 4px;
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
            &:after {
              content: '';
              width: 9px;
              height: 5px;
              position: absolute;
              top: 4px;
              left: 4px;
              border: 3px solid #333;
              border-top: none;
              border-right: none;
              background: transparent;
              opacity: 0;
              transform: rotate(-45deg);
            }
            &:hover::after {
              opacity: 0.5;
            }
          }

          input[type=checkbox] {
            visibility: hidden;
            &:checked + label:after {
              opacity: 1;
            }
          }
        }

        /*input {
          height: initial;
          line-height: initial;
          position: relative;
          margin-right: 20px;

        }
      }*/

      &:nth-of-type(5) {
        width: 100%;
        textarea {
          background-color: black;
          border: 1px solid $yellow;
          border-radius: 0;
          color: white;
        }
      }
    }

    button {
      display: block;
      width: 40%;

      margin: 40px auto 60px auto;
    }

    @include bp-max-xs {
      .form-group {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}