@import './flexbox';
@import "customVariables";

body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans, sans-serif";
  background-image: url('../../../static/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
};

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  //height: 100%;

  &.fixed {
    // used to remove body scroll when mobile menu visible in order to remove
    // double scrolling on iOS Safari
    overflow: hidden;
    position: fixed;
  }
}

#root {
  height: 100%;
  overflow-y: scroll;

  .app-container {
    @include flexbox();
    @include flex-direction(column);
    min-height: 100%;

    .wrapper {
      // wrapper will need to be flex container itself, otherwise nested
      // elements will not be able to use its full height due to the
      // weird ways flexbox works (especially on Chrome and IE11)
      @include flexbox();
      @include flex-direction(row);
      @include flex(1, 0, auto);
     // padding-top: 195px;
    }
  }

  .container {
    height: fit-content;
    &:not(.login-view) {
      background-color: #000000;
    }
//    .login-view {
  //    background-color: transparent;
    //}
  }
}

label {
  color: white;
}

input[type=email], input[type=number], input[type=password], input[type=tel],
input[type=text], input[type=url], input[type=textarea] textarea {
  color: #ffffff;
  border: 1px solid #dbbf17;
  border-radius: 0;
  background-color: transparent;
  padding: 10px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  transition: border .3s ease-in-out !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  letter-spacing: 1px;
/*
  padding: 0 18px !important;



  height: 42px;
  &:focus {
    border-color: #111111;
  }*/
}

button, .button {
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 10px 20px;
  color: #000000;
  background-color: #e5c019;

  &:hover {
    color: #3a3a3a;
  }

  &:disabled, [disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

button[type=submit] {
  display: block;
  width: 40%;

  margin: 40px auto 60px auto;
}

.list-table {
  color: white;

  table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

    thead {
      line-height: 40px;
      border-bottom: 1px solid white;
    }

    tbody {
      margin-top: 10px;

      tr {
        line-height: 40px;
      }

      td > a {
        color: $white;

        &:hover {
          text-decoration: none;
        }
      }

    }
  }

  button {
    float: right;
    margin-bottom: 40px;
  }

  .delete-btn {
    cursor: pointer;

    &:hover {
      color: $yellow;
    }
  }
}
