$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-map-min: 1150px;
$screen-lg-min: 1300px;

$screen-xxs-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$catalogue-sm-breakpoint: 1024px;
$catalogue-md-breakpoint: 1315px;

// Large
$lg: '(min-width: ${screen-lg-min})';

// Medium
$md: '(min-width: ${screen-md-min}) and (max-width: ${screen-md-max})';

// Tablet
$sm: '(min-width: ${screen-sm-min}) and (max-width: ${screen-sm-max})';

// Mobile
$xs: '(max-width: ${screen-xs-max})';

// Large & Medium
$lg-md: '(min-width: ${screen-md-min})';

// Large & Medium & Tablet
$lg-md-sm: '(min-width: ${screen-sm-min})';

// Medium & Tablet & mobile
$md-sm-xs: '(max-width: ${screen-md-max})';

// Medium & Tablet
$md-sm: '(min-width: ${screen-sm-min}) and (max-width: ${screen-md-max})';

// Tablet & mobile
$sm-xs: '(max-width: ${screen-sm-max})';

/*
* Mixins
*/
@mixin bp-min-lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin bp-min-md-max-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin bp-min-sm-max-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin bp-max-xs {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin bp-max-xxs {
  @media (max-width: $screen-xxs-max) {
    @content;
  }
}

@mixin bp-min-md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin bp-min-sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin bp-max-md {
  @media (max-width: $screen-md-max) {
    @content;
  }
}

@mixin bp-min-sm-max-md {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin bp-max-sm {
  @media (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin translate3d($x, $y: 0, $z: 0) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
}

$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$font-title: "Open sans";
$black: #000000;
$yellow: #dbbf17;
$white: #ffffff;