@import '../../core/styles/customVariables';

.add-meet {
  color: white;

  .clear-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
  }

  &-form {
    textarea {
      background-color: black;
      border: 1px solid $yellow;
      border-radius: 0;
      color: white;
    }
  }

}
